<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>{{ mobile.name }}</h1>
<!--<ul>-->
<!--{% for choice in poll.choice_set.all %}-->
    <!--<li>{{ choice.choice_text }}</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<a>{{ mobile.manufacturer }}</a><br/>
<a>{{ mobile.features }}</a><br/>
<a>{{ mobile.trunk }}</a><br/>
<h1>{{ mobile.price }} UAH</h1>

 <br/>
<form method='POST' action='buy/'>
    {% csrf_token %}
    <input type="submit" value="Buy">
</form>

<br/><br/><br/>
<h1>You ordered for: {{ total }}</h1>

</body>
</html>