<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>xo4y - The best shop!</title>
</head>
<body>

{% extends 'registration/check.html' %}

{% block content %}
{% if mobiles %}
    <ul class="list-group">
    {% for mobile in mobiles %}
        <li class="list-group-item"><a href="/xo4y/{{ mobile.id }}/">{{ mobile.name }}</a></li>
    {% endfor %}
    </ul>
    <a href='/xo4y/logout'>Покинути сім'ю</a>
{% else %}
    <p>All sold :(</p>

{% endif %}

{% endblock %}

</body>
</html>